<form name="patientDetailForm" class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label">Patient ID:</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="patientID" ng-model="patient.id" placeholder={{patient.id}} required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">First Name:</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="firstName" ng-model="patient.fn" ng-pattern="nameRegex" required placeholder={{patient.fn}}>
            <span class="error" ng-show="patientDetailForm.firstName.$error.pattern">
                First character should be uppercase and the rest should be alphanumeric
            </span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Last Name:</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="lastName" ng-model="patient.ln" ng-pattern="nameRegex" required placeholder={{patient.ln}}>
            <span class="error" ng-show="patientDetailForm.lastName.$error.pattern">
                First character should be uppercase and the rest should be alphanumeric
            </span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Phone Number:</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="phoneNumber" ng-model="patient.phoneNo" ng-pattern="phoneRegex" placeholder={{patient.phoneNo}}>
            <span class="error" ng-show="patientDetailForm.phoneNumber.$error.pattern">
                Not a valid phone number!
            </span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Last Visit Date:</label>
        <div class="col-sm-2">
            <input type="date" class="form-control" id="lastVisitDate" ng-model="patient.lastVisitDate" required placeholder="patient.lastVisitDate | date:'dd-MM-yyyy'" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Status:</label>
        <div class="col-sm-2">
            <input type="radio" class="form-control" id="status" ng-model="patient.status" value="Active" required placeholder={{patient.status}}>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-1">
            <button type="submit" class="btn btn-default" ng-click="update()">Update</button>
        </div>
        <div class=" col-sm-1">
            <button type="submit" class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</form>